# Google Sheets Configuration
NEXT_PUBLIC_GOOGLE_SHEET_ID=YOUR_GOOGLE_SHEET_ID
NEXT_PUBLIC_GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY

# Google Apps Script Web App URL
GOOGLE_APPS_SCRIPT_URL=YOUR_GOOGLE_APPS_SCRIPT_WEB_APP_URL

# Admin Credentials (for backend)
ADMIN_USERNAME=adminku
ADMIN_PASSWORD=Langgoku7894$
